.centerTable {
    text-align: center;
}

.playerLink {
    text-decoration: none;
}

.playerLink:hover {
    color: navy;
}

.playerLink:visited {
    color: blue;
}

.spacing {
    margin-top: 96px;
}