.centerText {
    text-align: center;
    margin-top: 24px;
}

.centerText2 {
    text-align: center;
    margin-bottom: 24px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-content: space-around;
}